# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# img
*.img
*.png

#video
*.mp4

# Logs

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
password.txt